*{
    margin: 0px; 
    padding: 0px;
}

.container{
    height: 100vh;
    background-color: beige;
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-end; /* main axis */
    align-items: flex-start;
    /* flex-wrap: wrap;  */

}

.item{
    background-color: rgb(255,0,0);
    margin: 10px;
    padding: 5px;
    height: 150px;
    width: 150px;
}

.item1{
    background-color: blue;
    /* align-self: center; */
    flex-grow:1;
    flex-shrink:9;
    
}
